<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ui.suelopelvico.rectocele.InfoRectoceleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.rectocele.RectoceleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.prolapso.InfoProlapsoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.prolapso.ProlapsoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.incontinencia.InfoIncontinenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.incontinencia.IncontinenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.hemorroides.InfoHemorroidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.hemorroides.HemorroidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fisura.InfoFisuraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fisura.FisuraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fistula.InfoFistulaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fistula.FistulaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.reseccion.InfoReseccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.reseccion.ReseccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.estoma.InfoEstomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.estoma.EstomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.ilestomia.InfoIleostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.ilestomia.IleostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colostomia.InfoColostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colostomia.ColostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.recto.InfoRectoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.recto.RectoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.cirugiaabdominal.colon.InfoColonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colon.ColonActivity"
            android:exported="false" />
        <activity
            android:name=".InflamatoriaActivity"
            android:exported="false" />
        <activity
            android:name=".TransitoActivity"
            android:exported="false" />
        <activity
            android:name=".AbdomenActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".SueloActivity"
            android:exported="false" />
        <activity
            android:name=".ProctologiaActivity"
            android:exported="false" />
        <activity
            android:name=".CancerActivity"
            android:exported="false" />
        <activity
            android:name=".HeaderActivity"
            android:exported="false" />
        <activity
            android:name=".PatologiaActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>