<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ui.suelopelvico.rectocele.PostoperatorioRectoceleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.rectocele.PreoperatorioRectoceleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.prolapso.PostoperatorioProlapsoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.prolapso.PreoperatorioProlapsoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.incontinencia.PostoperatorioIncontinenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.incontinencia.PreoperatorioIncontinenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.hemorroides.PostoperatorioHemorroidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.hemorroides.PreoperatorioHemorroidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fisura.PostoperatorioFisuraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fisura.PreoperatorioFisuraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fistula.PostoperatorioFistulaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fistula.PreoperatorioFistulaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.reseccion.PostoperatorioReseccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.reseccion.PreoperatorioReseccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.recto.PostoperatorioRectoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.recto.PreoperatorioRectoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.ilestomia.PostoperatorioIleostomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.ilestomia.PreoperatorioIleostomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.estoma.PostoperatorioEstomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.estoma.PreoperatorioEstomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colostomia.PostoperatorioColostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colostomia.PreoperatorioColostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colon.PostoperatorioColonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colon.PreoperatorioColonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.rectocele.PreparacionRectoceleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.rectocele.OstomiaRectoceleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.rectocele.IngresoRectoceleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.rectocele.HospitalRectoceleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.rectocele.AnestesiaRectoceleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.rectocele.AltaRectoceleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.prolapso.PreparacionProlapsoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.prolapso.OstomiaProlapsoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.prolapso.IngresoProlapsoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.prolapso.HospitalProlapsoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.prolapso.AnestesiaProlapsoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.prolapso.AltaProlapsoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.incontinencia.PreparacionIncontinenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.incontinencia.OstomiaIncontinenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.incontinencia.IngresoIncontinenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.incontinencia.HospitalIncontinenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.incontinencia.AnestesiaIncontinenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.incontinencia.AltaIncontinenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.hemorroides.PreparacionHemorroidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.hemorroides.OstomiaHemorroidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.hemorroides.IngresoHemorroidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.hemorroides.HospitalHemorroidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.hemorroides.AnestesiaHemorroidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.hemorroides.AltaHemorroidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fisura.PreparacionFisuraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fisura.OstomiaFisuraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fisura.IngresoFisuraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fisura.HospitalFisuraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fisura.AnestesiaFisuraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fisura.AltaFisuraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fistula.PreparacionFistulaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fistula.OstomiaFistulaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fistula.IngresoFistulaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fistula.HospitalFistulaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fistula.AnestesiaFistulaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fistula.AltaFistulaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.reseccion.PreparacionReseccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.reseccion.OstomiaReseccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.reseccion.IngresoReseccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.reseccion.HospitalReseccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.reseccion.AnestesiaReseccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.reseccion.AltaReseccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.recto.PreparacionRectoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.recto.OstomiaRectoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.recto.IngresoRectoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.recto.HospitalRectoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.recto.AnestesiaRectoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.recto.AltaRectoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.ilestomia.PreparacionIleostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.ilestomia.OstomiaIleostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.ilestomia.IngresoIleostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.ilestomia.HospitalIleostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.ilestomia.AnestesiaIleostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.ilestomia.AltaIleostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.estoma.PreparacionEstomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.estoma.OstomiaEstomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.estoma.IngresoEstomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.estoma.HospitalEstomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.estoma.AnestesiaEstomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.estoma.AltaEstomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colostomia.PreparacionColostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colostomia.OstomiaColostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colostomia.IngresoColostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colostomia.HospitalColostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colostomia.AnestesiaColostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colostomia.AltaColostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colon.OstomiaColonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colon.AltaColonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colon.IngresoColonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colon.PreparacionColonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colon.HospitalColonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colon.AnestesiaColonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.rectocele.InfoRectoceleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.rectocele.RectoceleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.prolapso.InfoProlapsoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.prolapso.ProlapsoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.incontinencia.InfoIncontinenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.suelopelvico.incontinencia.IncontinenciaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.hemorroides.InfoHemorroidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.hemorroides.HemorroidesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fisura.InfoFisuraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fisura.FisuraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fistula.InfoFistulaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.proctologia.fistula.FistulaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.reseccion.InfoReseccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.reseccion.ReseccionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.estoma.InfoEstomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.estoma.EstomaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.ilestomia.InfoIleostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.ilestomia.IleostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colostomia.InfoColostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colostomia.ColostomiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.recto.InfoRectoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.recto.RectoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colon.InfoColonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cirugiaabdominal.colon.ColonActivity"
            android:exported="false" />
        <activity
            android:name=".InflamatoriaActivity"
            android:exported="false" />
        <activity
            android:name=".TransitoActivity"
            android:exported="false" />
        <activity
            android:name=".AbdomenActivity"
            android:exported="false" />
        <activity
            android:name=".SueloActivity"
            android:exported="false" />
        <activity
            android:name=".ProctologiaActivity"
            android:exported="false" />
        <activity
            android:name=".CancerActivity"
            android:exported="false" />
        <activity
            android:name=".HeaderActivity"
            android:exported="false" />
        <activity
            android:name=".PatologiaActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>